// Buttons

.wp-block-button {
	background: transparent !important;

	a {
		@extend .btn;
	}
}

.wp-block-button, .is-style-squared {
	a {
		border-radius: $border-radius !important;
	}
}


// Tables
table {
	@extend .table;
}


// Iframes

iframe {
	max-width: 100%;
}


.wp-embed-aspect-16-9 {
	iframe {
		max-height: 60vw;
	}
}
