
body:not(.blog) {
	.entry-header:first-of-type {
		background: $gradient-dark;
		margin-bottom: 5vh;
		padding: 60px 60px 60px 0;

		@include media-breakpoint-up(lg) {
			padding: 180px 0 60px 0;
		}

		> * {
			@include make-container();
			@include make-container-max-widths();
			color: $white;
		}
	}
}

body:not(.home):not(.blog) {
	.entry-content {
		max-width: 900px;
		margin: 0 auto;
		padding: 15px;

		h2, .h2 {
			margin: 1.3em 0 .6em;
		}
	}
}


body.blog {

	#content {

		&:before {
			content: 'Blog';
			display: block;
			width: 100%;
			background: $gradient-dark;
			margin-bottom: 5vh;
			@extend h1;
			color: $white;
			padding: 60px 60px 60px 15px;

			@include media-breakpoint-up(lg) {
				padding: 180px 0 60px 15px;
			}

			@include one-side-container-margin( padding-left, 0px );
		}
	}

	article {
		margin: 0 auto 45px auto;
		max-width: 900px;
		padding: 15px;

		.entry-title {
			@extend h1;
			margin: 0;

			a {
				color: $black;
			}
		}

		.entry-meta {
			font-size: $font-size-sm;
			color: $gray-500;
			margin-bottom: 2em;
			padding: 0;
		}
	}
}

.entry-meta {
	@extend .alt;
	color: currentColor;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;


	a {
		color: inherit;
	}
}
